
<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<!-- <img alt="My Tutor Jungle" class="img-responsive text-center" src="modules/core/img/brand/image_01.jpg" /> -->
			</div>
		</div>
		<br>
		<div class="row">
			<h2 class="lead">
				Ready for some next-gen Learning?
			</h2>
		</div>
		<div class="row">
			<p>
				<a class="btn btn-primary btn-lg" ng-href="/#!/" target="_blank">Learn more about us.</a>
			</p>
		</div>
	</div>

	<div>
		<h2 class="text-center">First Tuition Agency in Singapore, with endorsed & experienced tutors!</h2>
	</div>

	<p><span class="glyphicon glyphicon-heart"></span> from My Tutor Jungle</p>
</section>