<section data-ng-controller="TutorsCreateController as tutorCtrl">
    <div class="modal-header">
        <h3 class="modal-title">New Tutor</h3>
    </div>

    <div class="modal-body">
        <form name="createTutorForm">
            <fieldset>
                <div class="row">
                    <div class="form-group">
                        <div data-ng-show="error" class="text-center text-danger">
                            <div class="alert alert-danger" role="alert">
                                <strong data-ng-bind="error"></strong>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 text-center">
                        <i class="glyphicon glyphicon-user tutor-profile" ng-class="{ 'text-primary': tutorCtrl.highestQual, 'text-pink': !tutorCtrl.highestQual }"></i>
                    </div>
                    
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="controls">
                                <input type="text" data-ng-model="tutorCtrl.firstName" id="firstName" class="form-control text-muted" placeholder="First Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="controls">
                                <input type="text" data-ng-model="tutorCtrl.lastName" id="lastName" class="form-control text-muted" placeholder="Last Name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="controls">
                                <input type="text" data-ng-model="tutorCtrl.age" id="age" class="form-control text-muted" placeholder="Age" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="controls">
                                <input type="text" data-ng-model="tutorCtrl.nric" id="nric" class="form-control text-muted" placeholder="NRIC No.">
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-6 col-sm-push-6">
                        <div class="form-group">
                            <div class="controls">
                                <input type="text" data-ng-model="tutorCtrl.roadName" id="roadName" class="form-control text-muted" placeholder="Road Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="controls">
                                <input type="text" data-ng-model="tutorCtrl.email" id="email" class="form-control text-muted" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="controls text-right">
                                <select data-ng-model="tutorCtrl.highestQual" id="highestQual" class="form-control">
                                    <option ng-repeat="qual in ['PhD', 'Masters', 'Degree', 'Polytechnic Diploma', 'Junior College - A levels']">{{qual}}</option>
                                </select>
                                <label class="control-label" for="highestQual">Highest Qualification</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-sm-pull-6">
                        <div class="form-group">
                            <div class="controls">
                                <input type="text" data-ng-model="tutorCtrl.blockNo" id="blockNo" class="form-control text-muted" placeholder="Block No.">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="controls">
                                <input type="text" data-ng-model="tutorCtrl.unitNo" id="unitNo" class="form-control text-muted" placeholder="Unit No.">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="controls">
                                <input type="text" data-ng-model="tutorCtrl.phone" id="phone" class="form-control text-muted" placeholder="Phone">
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="tutorCtrl.create();ok(createTutorForm.$valid)" ng-disabled="createTutorForm.$invalid">Save & Close</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</section>
