<section data-ng-controller="TutorsUpdateController as tutorUpdateCtrl">
    <div class="modal-header">
        <h3 class="modal-title">Update: {{tutor.firstName}} {{tutor.lastName}}</h3>
    </div>

    <div class="modal-body">
            <form name="updateTutorForm">
                <fieldset>
                <div class="row">
                    <div class="form-group">
                        <div data-ng-show="error" class="text-center text-danger">
                            <div class="alert alert-danger" role="alert">
                                <strong data-ng-bind="error"></strong>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <i class="glyphicon glyphicon-user tutor-profile text-center" ng-class="{ 'text-primary': tutor.moeCert, 'text-pink': !tutor.moeCert }"></i>
                    </div>
                    
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label" for="firstName">First Name</label>
                            <div class="controls">
                                <input type="text" data-ng-model="tutor.firstName" id="firstName" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="lastName">Last Name</label>
                            <div class="controls">
                                <input type="text" data-ng-model="tutor.lastName" id="lastName" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="suburb">Suburb</label>
                            <div class="controls">
                                <input type="text" data-ng-model="tutor.suburb" id="suburb" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="country">Country</label>
                            <div class="controls">
                                <input type="text" data-ng-model="tutor.country" id="country" class="form-control">
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-6 col-sm-push-6">
                        <div class="form-group">
                            <label class="control-label" for="email">Email</label>
                            <div class="controls">
                                <input type="text" data-ng-model="tutor.email" id="email" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="phone">Phone</label>
                            <div class="controls">
                                <input type="text" data-ng-model="tutor.phone" id="phone" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-pull-6">
                        <div class="form-group">
                            <label class="control-label" for="moeCert">MOE Certified</label>
                            <div class="controls">
                                <input type="checkbox" data-ng-model="tutor.moeCert" id="moeCert" class="form-control cert-checkbox">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">

                    </div>
                </div>

            </fieldset>
            </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="tutorUpdateCtrl.update(tutor);ok(updateTutorForm.$valid)" ng-disabled="updateTutorForm.$invalid">Update & Close</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>

</section>                


                    
                
