<div class="row">
    <div class="col-sm-3 col-xs-1"></div>
    <div class="col-sm-6 col-xs-10 text-center panel panel-info">

        <div class="panel-heading">
            <div class="row">
                <h3 class="panel-title">{{tutor.firstName + ' ' + tutor.lastName}}</h3>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-3 col-xs-3">
                    <label class="btn btn-danger" ng-click="tutorsCtrl.nextTutor($index)">
                        <i class="glyphicon glyphicon-remove"></i>
                    </label>
                </div>
                <div class="col-sm-6 col-xs-6 tutor-icon text-center">
                    <i class="glyphicon glyphicon-user"></i><br>
                </div>
                <div class="col-sm-3 col-xs-3 text-right" ng-click="tutorsCtrl.nextTutor($index)">
                    <label class="btn btn-success">
                        <i class="glyphicon glyphicon-heart"></i>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <ul class="text-left list-unstyled">
                        <li>
                            <h4>Email</h4>
                            <p>{{tutor.email}}</p>
                        </li>
                        <br>
                        <li>
                            <h4>Level of Qualification</h4>
                            <p>{{tutor.highestQual}}</p>
                        </li>
                        <br>
                        <li>
                            <h4>Location</h4>
                            <p>{{tutor.roadName}}</p>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-1"></div>
            </div>
        </div> <!-- end of panel-body -->
    </div> <!-- end of panel -->

    <div class="col-sm-3 col-xs-1"></div>

</div>
